@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 317 9% 11%;
    --foreground: 0 0% 98%;
    --card: 317 9% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 317 9% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 319 100% 63%;
    --primary-foreground: 319 100% 10%;
    --secondary: 317 9% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 317 9% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 278 100% 75%;
    --accent-foreground: 278 100% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 317 9% 20%;
    --input: 317 9% 20%;
    --ring: 278 100% 75%;
    --chart-1: 319 100% 63%;
    --chart-2: 278 100% 75%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 317 9% 9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 319 100% 63%;
    --sidebar-primary-foreground: 319 100% 10%;
    --sidebar-accent: 317 9% 14%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 317 9% 20%;
    --sidebar-ring: 278 100% 75%;
  }

  .dark {
    --background: 317 9% 11%;
    --foreground: 0 0% 98%;
    --card: 317 9% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 317 9% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 319 100% 63%;
    --primary-foreground: 319 100% 10%;
    --secondary: 317 9% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 317 9% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 278 100% 75%;
    --accent-foreground: 278 100% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 317 9% 20%;
    --input: 317 9% 20%;
    --ring: 278 100% 75%;
    --chart-1: 319 100% 63%;
    --chart-2: 278 100% 75%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 317 9% 9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 319 100% 63%;
    --sidebar-primary-foreground: 319 100% 10%;
    --sidebar-accent: 317 9% 14%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 317 9% 20%;
    --sidebar-ring: 278 100% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
